<H3 align="center">
  Registracija korisnika
</H3>

<p> <a routerLink="" > Pocetna </a>  </p> <br>

<form #f="ngForm" (ngSubmit)="doRegister(f.value)">
  <p>First name <input type="text" name="fname" ngModel > </p>
  <p>Last name <input type="text" name="lname" ngModel > </p>
  <p>Email(username) <input type="email"  name="email"  ngModel > </p>
  <p>Password <input type="password" name="pass" ngModel > </p>
  <p>Confirm password <input type="password" name="cpass" ngModel > </p>
  <p id="adminInput">Admin <input id="admin" type="checkbox" name="admin" (click)="uncheck('admin')" ngModel > </p>
  <p id="operaterInput">Operater <input id="operater" type="checkbox" name="operater" (click)="uncheck('operater')" ngModel > </p>
  <p> <button type="submit">Register</button> </p>
</form>



